body { 
    background-color: rgb(54, 190, 190);
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgba(29, 26, 26, 0.7);
}

h1, h2 {
    text-align: center;
}

.basse {
    color: green;
}

.moyenne {
    color: orange;
}

.haute {
    color: red;
}

#title {
    color: black;
}

#description {
    color: black;
}